.text{background-color: white;
      margin-right: 20%;
      margin-left: 20%;
      text-align: justify;
      max-width: 100%;
      border: 2px solid black;
      border-radius: 10px}
.menu{
    color: #001233;
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    margin-top: 5%;
    width: 40%;
    height: 5%; 
    font-size: 175%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #979dac;}
.cell:hover{
    color: #bde0fe;
    cursor: hand;}
.header{
    max-block-size: 100%;
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 2%}
body{
    background-color: #0466c8;
}
.main_part{
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 150%;}
.timeline{
    background:rgb(0, 162, 255);
    padding-top: 10%;
    margin: auto;
    width: 0.2%;
    height: 10%;
    border-radius: 10%;
    border: 2px solid black;
}
.text1{
    font-weight: bold;
    font-size: 150%;
    transform: translate(50px, -100px);
}
.footnote{
    font-size: 125%;
    margin-top: 5%;
    margin-left: 20%; 
    margin-right: 20%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #979dac;
}
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    background: #33415c
}
::-webkit-scrollbar-thumb{
    background: #001233;
}
::-webkit-scrollbar-thumb:active{
    background: #001845;
}