.menu{
    border: 1px solid blue;
    margin-left: 20%; 
    margin-right: 20%;
    margin-top: 1%;
    width: 60%;
    height: 5%; 
    max-width: 100%;}
.menu hover{border: 1px solid lightblue}
.header{}
.text-field{}
.footnote{}