.menu{
    color:rgb(0, 162, 255);
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    margin-left: 20%; 
    margin-right: 20%;
    margin-top: 1%;
    width: 60%;
    height: 10%; 
    max-width: 100%;
    font-size: 175%}
.cell:hover{
    color: rgb(0, 225, 255);
    cursor: hand;}
.header{
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 2%}
body{
    background-color: rgb(236, 236, 236);
}
.main_part{
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 1%;
    font-size: 150%;}
.timeline{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    max-width: 100%;
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    width: 60%;
    height: 10%;
    font-size: 175%;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}
.footnote{
    font-size: 125%;
    margin-top: 5%;
    margin-left: 20%; 
    margin-right: 20%;
    border: 2px solid black; 
    background-color: rgb(168, 168, 168);
}
.account{
    padding: 1%;
}
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    background:rgb(0, 0, 0)
}
::-webkit-scrollbar-thumb{
    background: rgb(0, 162, 255);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(0, 225, 255);
}