.menu{
    color:rgb(0, 162, 255);
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    margin-left: 20%; 
    margin-right: 20%;
    margin-top: 1%;
    width: 60%;
    height: 10%; 
    max-width: 100%;
    font-size: 175%}
.cell:hover{
    color: rgb(0, 225, 255);
    cursor: hand;}
.header{
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 2%}
body{
    background-color: rgb(236, 236, 236);
}
.main_part{
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 150%;}
.timeline{
    background:rgb(0, 162, 255);
    padding-top: 10%;
    margin: auto;
    width: 0.2%;
    height: 30%;
    border-radius: 10%;
    border: 2px solid black;
}
.timeline:hover{
    background:rgb(0, 225, 255);
    border-radius: 10%;
    border: 2px solid rgb(0, 255, 255);
}
.footnote{
    font-size: 125%;
    margin-top: 5%;
    margin-left: 20%; 
    margin-right: 20%;
    border: 3px solid black; 
    background-color: rgb(168, 168, 168);
}
.account{
    padding: 1%;
}
.account:hover{
    color:rgb(0, 255, 255);
}
::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    background:rgb(0, 0, 0)
}
::-webkit-scrollbar-thumb{
    background: rgb(0, 162, 255);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(0, 225, 255);
}