@import url('http://fonts.cdnfonts.com/css/atari');
.text{background-color: white;
      margin-right: 0%;
      margin-left: 0%;
      text-align: justify;
      max-width: 100%;
      border: 2px solid black;
      border-radius: 10px;}

.menu{
    color: black;
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    width: 100%;
    height: 3%; 
    font-size: 2vw;
    background-color: #979dac;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    border-bottom: 2px solid black;}

.cell:hover{
    color: #bde0fe;
    cursor: hand;}

.header{
    animation-name: fade_in;
    animation-duration: 10s;
    animation-iteration-count: 1;
    font-family:"Atari";
    text-shadow: 2px  2px 2px black,
                 2px -2px 2px black,
                 -2px  2px 2px black,
                 -2px -2px 2px black;;
    color: white;
    max-block-size: 100%;
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 5%}

body{
    background-color: #0466c8;
}

.main_part{
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 150%;}

.timeline{
    background:rgb(0, 162, 255);
    padding-top: 10%;
    margin: auto;
    width: 0.2%;
    height: 10%;
    border-radius: 10%;
    border: 2px solid black;
}

.text1{
    font-weight: bold;
    font-size: 150%;
    transform: translate(50px, -100px);
}

.box-container{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    max-width: 60%;
}

.box{
    border: 2px solid black;
    border-radius: 10px;
    text-align: justify;
    width: 50%;
}
.footnote{
    font-size: 10px;
    margin-top: 5%;
    border-top: 2px solid black;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    background-color: #979dac;
}

@media screen and (min-width: 1500px) {
    .footnote {
        font-size: 20px;
    }
    .header {
        font-size: 40px;
    }
    .menu{
        font-size: 20px;
    }
    
}

::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track{
    background: #33415c
}

::-webkit-scrollbar-thumb{
    background: #001233;
}

::-webkit-scrollbar-thumb:active{
    background: #001845;
}