@import url('http://fonts.cdnfonts.com/css/atari');
body{
      background-color: #0466C8;
}

.header{
    animation-iteration-count: 1;
    font-family:"Atari";
    text-shadow: 2px  2px 2px black,
                 2px -2px 2px black,
                 -2px  2px 2px black,
                 -2px -2px 2px black;;
    color: white;
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 5%}

.timeline{
      background: rgb(255, 255, 255);
      width: 1vw;
      height: 1150px;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 10px;
      margin-left: 50%;
      margin-top: 5%;} 

 .left{
       text-align: center;
       transform: translate(0, 10px);
       position: relative;
       width: 200px;
       height: 6em;
       font-size: 30px;
       border: 2px solid rgb(0, 0, 0);
       border-radius: 10px;
       background: rgb(255, 255, 255);
       right: 270px;}

.right{
      text-align: center;
      transform: translate(0, 10px);
      position: relative;
      width: 200px;
      height: 6em;
      font-size: 30px;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 10px;
      background: rgb(255, 255, 255);
      left: 80px;}

.triangle-left{
      width: 0px;
      height: 0px;
      -webkit-transform:rotate(360deg);
      border-style: solid;
      border-width: 17.5px 0 17.5px 35px;
      border-color: transparent transparent transparent #ffffff;
      -webkit-transform: translate(215px, -100px)}

.triangle-right{
      width: 0px;
      height: 0px;
      -webkit-transform:rotate(360deg);
      border-style: solid;
      border-width: 17.5px 35px 17.5px 0;
      border-color: transparent #ffffff transparent transparent;
      -webkit-transform: translate(-50px, -100px)}