.header{color: white;
        font-size: 250%;
        text-align: center;
        font-weight: bold}

body{background-color: #1E1E1E}

.language{color: #9CDCFE;
        font-size: 200%;
        text-align: center}