body{
    background-color: #0466C8;}

a:hover{
    color: #bde0fe;
    cursor: hand;}

.header{
    animation-iteration-count: 1;
    text-shadow: 2px  2px 2px black,
                 2px -2px 2px black,
                 -2px  2px 2px black,
                 -2px -2px 2px black;;
    color: white;
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 20%; 
    margin-right: 20%;}

.intro{
    text-align: justify;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 150%;}    

.language{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 150%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white}

.python{
    color:blue
    }

::-webkit-scrollbar{
    width: 1em;}
      
::-webkit-scrollbar-track{
    background: #33415c}
      
::-webkit-scrollbar-thumb{
    background: #001233;}
      
::-webkit-scrollbar-thumb:active{
    background: #001845;}