a:hover{
        color: #bde0fe;
        cursor: hand;}
        
.header{
        color: #2C7AD6;
        font-size: 250%;
        text-align: center;
        font-weight: bold}

body{
        background-color: #1E1E1E}

.menu{
        color: #D7AB4C}

.language{
        color: #9CDCFE;
        font-size: 200%;
        text-align: center}
.description{
        margin-left: 20%;
        margin-right: 20%;
        font-size: 150%;
        text-align: justify;
        color: #ffffff}

::-webkit-scrollbar{
        width: 1em;}
                  
::-webkit-scrollbar-track{
        background: #33415c}
                  
::-webkit-scrollbar-thumb{
        background: #001233;}
                  
::-webkit-scrollbar-thumb:active{
        background: #001845;}