@import url('http://fonts.cdnfonts.com/css/atari');
body{
    background-color:#979dac;}

.header{
    animation-iteration-count: 1;
    font-family:"Atari";
    text-shadow: 2px  2px 2px black,
                 2px -2px 2px black,
                 -2px  2px 2px black,
                 -2px -2px 2px black;;
    color: white;
    user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 5%}

.link{
    width: 100%;
    font-size: 150%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;}

a:hover{
    color: #bde0fe;
    cursor: hand;}

::-webkit-scrollbar{
    width: 1em;}
          
::-webkit-scrollbar-track{
    background: #33415c}
          
::-webkit-scrollbar-thumb{
    background: #001233;}
          
::-webkit-scrollbar-thumb:active{
    background: #001845;}